body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
    background-size: 1800px 1300px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Francois One', sans-serif;
	padding: 10px;
}

label {

}

.well {
	width: 700px;
	height: 75%;
	text-align: center;
	margin-left:20%;
}

.panel {
	text-align: center;
	background-color: #FFF2CC;
}

.radio-inline {
	padding: 30px;
	font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
	font-family: 'Baloo Bhaina', cursive;
	background-color: #F9CB9C;
}

#timer {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

#correctCount {
	font-family: 'Josefin Sans', sans-serif;

}

#missCount {
	font-family: 'Josefin Sans', sans-serif;
}




